<!DOCTYPE HTML>
<html>
	<head>
		<title> Association B2G [AB2G] </title>
		<link rel="icon" href="{{ asset('bundles/assob2g/image/logo_ab2g.ico') }}"/>
		{% stylesheets 'bundles/assob2g/css/*' filter='cssrewrite' %}
		    	<link rel="stylesheet" href="{{ asset_url }}" />
		{% endstylesheets %}
	</head>
	<body>
		<div id="logo">
			<img src="{{ asset('bundles/assob2g/image/logo_ab2g.jpg') }}"/>
		</div>
		<div id="text">
			<p> Le site de l'Association Bordelaise des Geeks et Gamers de Bordeaux est actuellement en cours de création.
			<br>
			<br>
			<br>
			Pour nous contacter : <a href="">contact@asso-b2g.com</a> </p>
		</div>
	</body>
</html>