{% extends 'base.html.twig' %}

	{%block body%}
		<div class="container">
		    <div class="row">
		        <div class="col-lg-12">
					<!-- Do not change the code! -->
					<br><br><br>
					<center>
					<h1>L'Association</h1>
					<br><br>
					<img class="img-responsive" src="{{ asset('bundles/assob2g/image/groupe.jpg') }}" alt="A propos">
				</div>
			</div>
		</div>
	{%endblock%}