{% extends 'base.html.twig' %}

	{%block body%}
		<div class="container">
		    <div class="row">
		        <div class="col-lg-12">
					<!-- Do not change the code! -->
					<br><br><br>
					<center>
					<h1>Nous contacter</h1>
					<br><br>
					<a id="foxyform_embed_link_168611" href="http://fr.foxyform.com/">foxyform</a>
					<script type="text/javascript">
					(function(d, t){
					   var g = d.createElement(t),
					       s = d.getElementsByTagName(t)[0];
					   g.src = "http://fr.foxyform.com/js.php?id=168611&sec_hash=935bd1efaa6&width=350px";
					   s.parentNode.insertBefore(g, s);
					}(document, "script"));
					</script>
					<!-- Do not change the code! -->
					</center>
				</div>
			</div>
		</div>
	{%endblock%}