{% extends '::base.html.twig' %}

{% block body -%}
	<br><br><br>
	<div class="container">
	    <div class="row">
	        <div class="col-lg-12">
			    <h1>Evenement creation</h1>
			
			    {{ form(form) }}
			
			        <ul class="record_actions">
			    <li>
			        <a href="{{ path('evenement') }}">
			            Back to the list
			        </a>
			    </li>
			</ul>
			</div>
		</div>
	</div>
{% endblock %}